<p>Dear {{firstName}},</p>
<p>We are pleased to confirm that your order
	<strong>#{{orderId}}</strong>
	has been successfully booked.</p>
<p>Thank you for choosing our services. If you have any questions or need
	further assistance, please do not hesitate to contact us.</p>
<p>Best regards,</p>
<p><strong>The Airbnb Team</strong></p>
